body {
  margin: 0;
  height: 100vh; 
  width: 100vw;
  position: fixed;
  min-height: 100%;
  -webkit-text-size-adjust: antialised;
}

a {
  text-decoration: none;
  color: black;
}

a:link {
  color: #404040;
  font-family: 'Space Mono', monospace;
}

a:hover {
  text-decoration: none;
  color: #404040;
}

.main {
  width: 40%;
  max-width: 50em;
  min-width: 262px;
  margin: 7% 0 0 10%;
  font-family: "Courier New";
  font-weight: 600;
  float: left;
  color: #080808;
  animation: fadein 1s cubic-bezier(.12,.98,.38,1);
  position: relative;
}

.main > div.block {
  margin-left:-1.4em;
  margin-top: .1em;
  font-size: 3vh;
  letter-spacing: -1px;
  white-space: nowrap;
  color: #222834;
  text-decoration-color: black;
}


.main > div.name {
  margin-left:-1em;
  font-size: 5vh;
  letter-spacing: -1px;
  white-space: nowrap;
}

/* Background Image */

#bg_wrapper{
	overflow: hidden;
}

#bg {
  position: absolute;
  height: 110vh;
  width: 100vw;
  overflow: hidden;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url('DSC_0084.jpg');
  z-index: -1;
}

/* social icon links */

ul.social-icons {
  padding:0;
  list-style: none;
  float: left;
  margin-left:-.25em;
  margin-top: -.1em;
}

ul.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

a.social-icon > i {
  margin-top: .75em;
  font-size: 3.5vh;
  color: #FFFFFF;
  text-decoration: none;
  padding: 2px;
  width: 45%;
  white-space: nowrap;
  float: left;
  text-align: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

/* new hover bar makes this obsolete
 * increases padding on whichever icon is being hovered over
.social-icons a > i.fa:hover {
  padding: 4px 8px;
} */

#hoverbar {
  opacity: 0;
  width: 27px;
  border-bottom: 2.5px solid;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  transition: left;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition: .3s;
}

/* brand-specific coloring for icon links */

.fa-linkedin-in:hover {
  color: #0073a4;
  border-color: #0073a4;
}
.fa-strava:hover {
  color: #fc4c02;
  border-color: #fc4c02;
}
.fa-gitlab:hover {
  color: #FFA500;
  border-color: #FFA500;
}
html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* if the screen width is < 800px */
@media (max-width: 800px) {
    .main {
        /* create left margin */
        margin-left:80px;
    }
}
@media (min-width: 700px) {
    .main {
        margin-left: 150px;
    }
} 

/* Use for animation in .main*/
@keyframes fadein {
  from {
    opacity: -2;
    transform: translateX(-5em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* used for background image upload*/
@keyframes loaded {
  from {
    opacity: -2;
    transform: scale(1.15);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
